<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <!-- Sign Up or Log in -->
    <h1>Welcome</h1>
    <ul>
      <li>
        <!-- When clicked... send to NEWUSER.EJS at /new -->
        <a href="/users/new">Sign Up</a>
      </li>
      <li>
        <!-- When clicked... send to NEWSESSION.EJS at /new -->
        <a href="/sessions/new">Log In</a>
      </li>
    </ul>
  </body>
</html>
