<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <!-- Sign Up or Log in -->
    <h1>Welcome</h1>
    <!-- <ul>
      <li> -->
        <!-- Sends to USERS/NEWUSER.EJS -->
        <!-- <a href="/users/new">Sign Up</a>
      </li>
      <li> -->
        <!-- Sends to SESSIONS/NEWSESSION.EJS -->
        <!-- <a href="/sessions/new">Log In</a>
      </li>
    </ul> -->
    <h2>Sign Up</h2>
    <!-- Submit user UN and PW to MODELS/USERS.JS and use userSchema to create req.body -->
    <form class="" action="/users" method="post">
      Username: <input type="text" name="username" value=""><br>
      Password: <input type="password" name="password" value=""><br>
      <input type="submit" name="" value="Register">
    </form>
    <h2>Log In</h2>
    <form action="/sessions" method="POST">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
