<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/welcome.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <!-- Sign Up or Log in -->
    <h1>Welcome</h1>
    <div class="WELCOME">
      <div class="FORM">
        <h2>Admin Sign Up</h2>
        <!-- Submit user UN and PW to MODELS/USERS.JS and use userSchema to create req.body -->
        <form class="" action="/users" method="post">
          <div class="six columns">
            Username: <input type="text" name="username" value=""><br>
            Password: <input type="password" name="password" value=""><br>
            <div class="BUTTONS">
              <input class="button button-primary"type="submit" name="" value="Register">
            </div>
          </div>
        </form>
      </div>
      <div class="FORM">
        <h2>Admin Log In</h2>
        <form action="/sessions" method="POST">
          <div class="six columns">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <div class="BUTTONS">
              <input class="button button-primary"type="submit" value="Log In">
            </div>
          </div>
        </form>
      </div>
      <div class="SEARCH">
        <h2>Guest Search</h2>
        <p>Search your name and update your info!</p>
        <!-- Submit user UN and PW to MODELS/USERS.JS and use userSchema to create req.body -->
        <form action="/search" method="post">
            Your Name: <input type="text" name="name"><br>
            <div class="BUTTONS">
              <input class="button button-primary"type="submit" name="" value="Find">
            </div>
        </form>
      </div>
    </div>

  </body>
</html>
