/* INDEX / INVITED / BUDGET */
body {
  background-image: url('https://images.unsplash.com/photo-1516150615415-1bcb16bc2c91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'EB Garamond', serif;
}

.MAIN {
  background-color: rgba(245, 222, 179, .9);
  width: 95%;
  margin: 50px auto;
  border-radius: 3px;
}

.HEADER {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 95%;
}
  .HEADER > .date {
    font-family: 'Cabin Sketch', cursive;
    color: sienna;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 60px;
  }
  /* .HEADER > h1 {
    margin-top: 20px;
    color: sienna;
  } */


nav {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background-color: rgb(65, 78, 67);
}
  nav > a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav > a:hover {
    color: sienna;
  }


.QUICK-ADD {
  background-color: rgba(155, 82, 48, .8);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 85%;
  margin: 15px auto;
}
  .QUICK-ADD > form {
    margin: 5px auto;
  }
  .QUICK-ADD > h4 {
    margin-top: 8px;
    margin-bottom: 3px;
  }

.GUESTLIST {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
  #going {
    color: rgb(65, 78, 67);
  }
  #notgoing {
    color: rgb(101, 7, 7);
  }

.ITEMLIST {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

ul {
  text-align: center;
}
li {
  list-style-type: none;
}


.GUESTS {
  border: 1px solid rgba(65, 78, 67, .9);
  background-color: rgba(65, 78, 67, .9);
  box-shadow: 2px 3px 3px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  max-width: 500px;
  height: 60px;
  max-height: 100px;
  margin: 10px 0;
}
  .GUESTS > .INFO {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    color: white;
  }
  /* .plusOne {
      font-size: 18px;
      font-weight: bold;
    } */
  .GUESTS > .BUTTONS {
    margin-top: 40px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
  }

.ITEMS {
  border: 1px solid rgba(65, 78, 67, .9);
  background-color: rgba(65, 78, 67, .9);
  border-radius: 3px;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  max-width: 500px;
  height: 80px;
  max-height: 200px;
  margin: 10px 0;
}
  .ITEMS > .BUTTONS {
    margin-top: 35px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
  }
  .TOTAL {
    text-align: center;
    margin: 15px;
  }
  /* .price {
    font-size: 18px;
    font-weight: bold;
  } */


.BUTTONS > form {
  margin-left: 3px;
}
.BUTTONS > a {
  border-color: white;
  color: white;
  margin-bottom: 3px;
}
form > input[type="submit"]{
  color: white;
  border-color: white;
}
.INFO > h4 {
  margin-left: 10px;
  /* margin-top: 8px; */
  margin-bottom: 0px;
}

.BOTTOM {
  text-align: center;
  margin: 15px;
}
.BOTTOM > a {
  margin-bottom: 20px
}




@media (max-width: 1100px) {
  .MAIN {
    margin-top: 5px;
  }
  .HEADER {
    display: flex;
    flex-direction:column;
    align-content: center;
  }
  .HEADER > h1 {
    margin-top: 0px;
  }
  .ITEMS > .BUTTONS {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }
  .GUESTS > .BUTTONS {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
  }
  nav {
    justify-content: space-around;
  }

  .QUICKADD {
    margin: auto;
  }
  .GUESTS {
    max-width: 350px;
    margin: auto;
  }
  .ITEMS {
    max-width: 350px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-direction: column;
  }

}
