body {
  background-image: url('https://images.unsplash.com/photo-1516150615415-1bcb16bc2c91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'EB Garamond', serif;
}
.NAME {
  color: green;
}
.GUESTS {
  background-color: rgba(245, 222, 179, 1);
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 3px 4px 5px;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}
.ITEMS {
  background-color: rgba(245, 222, 179, 1);
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 3px 4px 5px;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}

.GUESTS > h1 {
  text-align: center;
  margin-top: 10px;
}
.ITEMS > h1 {
  text-align: center;
  margin-top: 10px;
}
form > h5 {
  text-align: center;
}
textarea {
  width: 300px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rows1 {
  margin-right: 20px;
}
.rows2 {
  margin-right: 50px;
}


.BUTTONS {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .GUESTS {
    max-width: 350px;
    margin: auto;
  }
  .GUESTS > form {
    display: flex;
    flex-direction: column;
  }
  }
}
