h1 {
  text-align: center;
}
.WELCOME {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}
.FORM {
  border: 1px solid black;
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
  .FORM > h2 {
    text-align: center;
  }
  .FORM > form {
    display: flex;
    justify-content: center;
  }

.SEARCH {
  border: 1px solid black;
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
  .SEARCH > form {
  }

.BUTTONS {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .FORM {
    border: 1px solid black;
    align-items: center;
  }
  }
}
