<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- Log in -->
    <h1>Log in</h1>
    <!-- Submit user UN and PW to CONTROLLERS/SESSION.JS -->
    <!-- <form action="/sessions" method="POST">
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Log In">
    </form> -->
  </body>
</html>
