<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign UP</title>
  </head>
  <body>
    <!-- SIGN UP A NEW [USER] -->
    <h1>Sign Up</h1>
    <!-- Submit user UN and PW to MODELS/USERS.JS and use userSchema to create req.body -->
    <form class="" action="/users" method="post">
      Username: <input type="text" name="username" value=""><br>
      Password: <input type="password" name="password" value=""><br>
      <input type="submit" name="" value="Register">
    </form>
  </body>
</html>
