<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <h1>Guest List</h1>

    <!-- GUESTS -->
    <% for (let i = 0; i < guests.length; i++) { %>
      <!-- SHOW Guest -->
      <h1><a href="/guests/<%=guests[i].id%>"><%=guests[i].name%></a></h1>
      <!-- EDIT Guest -->
      <a href="/guests/<%=guests[i].id%>/edit">Edit</a><br>
      <!-- DELETE Guest -->
      <form class="" action="/guests/<%=guests[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form><br>
    <% } %>

    <!-- NEW Guest -->
    <a href="/guests/new">Create New</a>

  </body>
</html>
