<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Invited</title>
    <% include ../partials/skeletonhead.ejs %>
    <% include ../partials/conditionalcolors.ejs %>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
  <!-- HEADER -->
  <div class="HEADER">
    <h1>Wedding - Invites</h1>
    <!-- Log Out -->
    <a class="button" href="/logout">Log Out</a>
  </div>
  <!-- QUICK GUEST ADD -->
    <% include ../partials/quickadd.ejs %>
    <div class="BOTTOM">
      <a class="button" href="/guests">RSVPs</a>
      <a class="button" href="/items">Budget</a>
    </div>
  <!-- GUEST LIST PARTIAL -->
    <div class="GUESTLIST">
      <% include ../partials/invited.ejs %>
    </div>
  <!-- BOTTOM BUTTONS -->
    <div class="BOTTOM">
      <a class="button button-primary" href="/guests/new">Create New</a><br>
    </div>
  </body>
</html>
