<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Invited</title>
    <% include ../partials/skeletonhead.ejs %>
    <% include ../partials/conditionalcolors.ejs %>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="MAIN">
      <!-- HEADER -->
      <div class="HEADER">
        <h1 class="date">08.08.2020</h1>
        <h1>INVITES</h1>
      </div>
      <nav>
        <a href="/guests">RSVPs</a>
        <a href="/guests/invited" style="color: sienna">Invites</a>
        <a href="/items">Budget</a>
        <a href="/logout">Log Out</a>
      </nav>
      <!-- QUICK GUEST ADD -->
        <% include ../partials/quickadd.ejs %>
      <!-- GUEST LIST PARTIAL -->
        <div class="GUESTLIST">
          <% include ../partials/invited.ejs %>
        </div>
      <!-- BOTTOM BUTTONS -->
        <div class="BOTTOM">
          <a class="button button-primary" href="/guests/new">Create New</a><br>
        </div>
    </div>
  </body>
</html>
