<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Guest</h1>
    <form class="newguest" action="/guests" method="POST">
      Name: <input type="text" name="name"><br>
      +1: <input type="text" name="plusOne"><br>
      RSVP: <input type="checkbox" name="rsvp"><br>
      <input type="submit" value="Add Guest">
    </form>
  </body>
</html>
