<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Guest</h1>
    <!-- Add GUEST to MODELS/GUESTS.JS and use userSchema for CONTROLLERS/GUESTS -->
    <form action="/guests" method="POST">
      Name: <input type="text" name="name"><br>
      +1: <input type="text" name="plusOne"><br>
      RSVP: <br>
      <input type="radio" name="rsvp" value="I'm in!"> Im in!<br>
      <input type="radio" name="rsvp" value="Sadly I can't make it"> Sadly I can't make it <br>
      <input type="radio" name="rsvp" value="Not sure yet"> Not sure yet <br>
      <input type="submit" value="Add Guest">
    </form>
  </body>
</html>
