<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Guest</title>
    <link rel="stylesheet" href="/new.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <!-- Add GUEST to MODELS/GUESTS.JS and use userSchema for CONTROLLERS/GUESTS -->
    <div class="GUESTS">
      <h1>New Guest</h1>
      <form action="/guests" method="POST">
        <span class="rows1">
          <strong>Name:</strong> <input type="text" name="name">
        </span>
        <span class="rows1">
          <strong>+1:</strong> <input type="text" name="plusOne">
        </span>
        <div class="row">
          <strong>Invited:</strong> <span class="label-body">
            <input type="radio" name="invited" value="Yes"> Yes
            <input type="radio" name="invited" value="No"> No </span>
        </div>
        <span class="rows2">
          <strong>RSVP:</strong>
            <select name="rsvp">
              <option value="Not sure yet">Not sure yet</option>
              <option value="I'm in!">I'm in!</option>
              <option value="Sadly I can't make it">Sadly I can't make it</option>
            </select>
        </span>
        <span class="rows2">
          <strong>Category:</strong>
            <select name="category">
              <option value="Other">Other</option>
              <option value="Family">Family</option>
              <option value="Friends">Friends</option>
            </select>
        </span>
        <h5>Info</h5>
          <strong>Email:</strong> <input type="email" name="email">
          <strong>Phone:</strong> <input type="tel" name="phone"> <br>
            <strong>Street:</strong> <input type="text" name="street">
            <strong>City:</strong> <input type="text" name="city"> <br>
            <strong>State:</strong> <input type="text" name="state">
            <strong>Zip:</strong> <input type="text" name="zip"> <br>
        <div class="BUTTONS">
          <input class="button button-primary" type="submit" value="Add Guest">
          <a class="button" href="/guests">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
