<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Guest</title>
    <link rel="stylesheet" href="/new.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <!-- Add GUEST to MODELS/GUESTS.JS and use userSchema for CONTROLLERS/GUESTS -->
    <div class="GUESTS">
      <h1>New Guest</h1>
      <form action="/guests" method="POST">
        <div class="row">
          <strong>Name:</strong> <input type="text" name="name">
          <strong>+1:</strong> <input type="text" name="plusOne">
          <strong>Email:</strong> <input type="email" name="email">
          <strong>Phone:</strong> <input type="tel" name="phone">
        </div>
        <div class="row"> <strong>Address:</strong>
          <strong>Street:</strong> <input type="text" name="street">
          <strong>City:</strong> <input type="text" name="city">
          <strong>State:</strong> <input type="text" name="state">
          <strong>Zip:</strong> <input type="text" name="zip">
        </div>
        <strong>RSVP:</strong> <br>
          <select name="rsvp">
            <option value="Not sure yet">Not sure yet</option>
            <option value="I'm in!">I'm in!</option>
            <option value="Sadly I can't make it">Sadly I can't make it</option>
          </select><br><br>
        <strong>Category:</strong> <br>
          <select name="category">
            <option value="Other">Other</option>
            <option value="Family">Family</option>
            <option value="Friends">Friends</option>
          </select><br><br>
        <strong>Invited:</strong> <br>
          <input type="radio" name="invited" value="Yes"> Yes
          <input type="radio" name="invited" value="No"> No
        <div class="BUTTONS">
          <input class="button button-primary" type="submit" value="Add Guest">
          <a class="button" href="/guests">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
